<div class="container">

  <div class="row-1">

    <div class="card bg-light text-black" id="output">{{operazione}}</div>
  </div>
  <div class="row">

    <div class="col-9">

      <button class="btn btn-outline-primary btn-block" (click)= "cancella()">Cancella</button>

    </div>
    
    <div class="col-3">

      <button class="btn btn-success btn-block" (click)="inserisciOp('/')">/</button>
    
    </div>

  </div>

  <div class="row">

    <div class="col">
     
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(7)">7</button>
   
    </div>
    
    <div class="col">
    
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(8)">8</button>
    
    </div>
    
    <div class="col">
     
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(9)">9</button>
    
    </div>
    
    <div class="col">
   
      <button class="btn btn-success btn-block" (click)="inserisciOp('*')" >*</button>
    
    </div>


  </div>

  <div class="row">

    <div class="col">
    
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(4)">4</button>
    
    </div>
    
    <div class="col">
     
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(5)">5</button>
   
    </div>
   
    <div class="col">
    
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(6)">6</button>
    
    </div>
   
    <div class="col">

      <button class="btn btn-success btn-block" (click)="inserisciOp('-')">-</button>
    
    </div>


  </div>

  <div class="row">

    <div class="col">
    
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(1)">1</button>
    
    </div>
    
    <div class="col">
    
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(2)">2</button>
   
    </div>
    
    <div class="col">
    
      <button class="btn btn-secondary btn-block" (click)="inserisciNum(3)">3</button>
    
    </div>
   
    <div class="col">

      <button class="btn btn-success btn-block" (click)="inserisciOp('+')">+</button>
    
    </div>


  </div>

  <div class="row">

    <div class="col">

      <button class="btn btn-success btn-block" (click)="invertiSegno()">+/-</button>

    </div>

    <div class="col">

      <button class="btn btn-secondary btn-block" (click)="inserisciNum(0)">0</button>

    </div>

    <div class="col">

      <button class="btn btn-success btn-block" (click)="virgola()">,</button>

    </div>

    <div class="col">

      <button class="btn btn-outline-primary btn-block" (click)="uguale()">=</button>

    </div>

  </div>

</div>